# Gradle files
.gradle/
build/
app/build/

# Local configuration files
local.properties

# Android Studio / IntelliJ IDEA
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetStudio.xml
.idea/deploymentTargetSelector.xml
*.iml

# Built APKs / Bundles (Allow release APK in root)
*.apk
*.aab
!NamasteHindi-release.apk

# OS generated
.DS_Store
Thumbs.db
